natsort~=8.1.0
pyfiglet~=0.8.post1
nibabel~=3.2.2
pydicom~=2.2.2
halo~=0.0.31
SimpleITK~=2.2.1
numpy~=1.22.4
pandas~=1.4.4
argparse~=1.4.0
openpyxl~=3.0.9
imageio~=2.16.2
mpire~=2.3.5
# requirements parser stated that you need pillow>=9.2.0
pillow>=9.2.0
fastai~=2.6.3
requests~=2.26.0
tqdm~=4.62.0
setuptools~=60.2.0
moosez~=2.0.0
colorama~=0.4.6
