nnunetv2
pytest~=7.4.2
nibabel~=3.2.2
halo~=0.0.31
pandas~=1.4.1
SimpleITK~=2.2.1
pydicom~=2.2.2
argparse~=1.4.0
imageio~=2.16.1
numpy
mpire~=2.3.3
openpyxl~=3.0.9
matplotlib~=3.1.3
pyfiglet~=0.8.post1
natsort~=8.1.0
colorama~=0.4.6
pillow>=9.2.0
dask~=2023.6.0
rich
pandas
psutil~=5.9.5
plotly~=5.15.0
monai[gdown,itk,pynrrd]==1.2.0
cupy-cuda11x~=13.0
pynvml
dicom2nifti~=2.4.8
emoji
Sphinx
sphinx_rtd_theme
