nnunetv2
halo~=0.0.31
SimpleITK~=2.2.1
pydicom~=2.2.2
argparse~=1.4.0
numpy
openpyxl~=3.0.9
pyfiglet~=0.8.post1
natsort~=8.1.0
colorama~=0.4.6
dask~=2023.6.0
rich
pandas
dicom2nifti~=2.4.8
emoji
requests
psutil
scipy