name: Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy: 
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5 
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip

    - name: Install moose dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Install test dependencies
      run: |
        pip install pytest

    - name: Run pytest
      run: |
        python -m pytest tests/